* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#main-container {
  background-image: url(https://wallpapercave.com/wp/wp2991071.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
}

header {
  height: 88px;
  position: relative;
}

form {
  height: 100%;
}

.form-group {
  float: right;
  height: 65%;
  position: relative;
  margin: 40px 56px 0 0 ;
}

.sumbit-btn {
  position: absolute;
  top: 27%;
  left: 6%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="text"] {
  width: 300px;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 40px 0 15px;
  color: #ffffff;
  font-size: 24px;
  border-radius: 0.75rem;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.icon-button {
  width: 0px;
  height: 0px;
}

.icon-search {
  font-size: 24px;
  color: #ebcf34;
  position: relative;
  margin-left: 265px;
  cursor: pointer;
}

.error-msg {
  color: #ff3333;
  font-size: 24px;
  float: right;
  padding-left: 5px; 
}

.main-weather-display {
  top: 30%;
  width: 90%;
  margin-left: 10%;
  color: #f3f3f3;
}

.condition {
  font-size: 50px;
  letter-spacing: 1.6px;
}

.locationCity {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 5px;
}

.location {
  font-size: 64px;
  line-height: 56px;
  margin-bottom: 16px;
  font-weight: 800;
  letter-spacing: 0.1rem;
} 

.full-details {
  width: 350px;
  margin-top: 35px;
}

.degrees {
  font-size: 160px;
  font-weight: 900;
  font-family: 'Overpass', sans-serif;
  position: absolute;
}

.degrees2 {
  position: relative;
  color: #ebcf34;
  font-size: 160px;
  font-weight: 900;
  font-family: 'Overpass', sans-serif;
  padding: 3px;
}

.degrees-celsium {
  font-size: 40px;
  font-weight: 900;
}

.full-degrees {
 text-align: center;
 display: flex;
 width: 350px;
 padding-left: 5px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1.6px;
  border-top: 3.5px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  height: 160px;
  justify-content: space-around;
  text-align: center;
}

.feels-like {
  position: relative;
}

.feels-like-celsium {
  font-size: 18px;
}

.humidity::after {
  content: '%';
}

.try-some {
  color: #f3f3f3;
  font-size: 90px;
  text-align: center;
  margin: 0 auto;
  padding-top: 225px;
  animation-name: bounce;
  animation-duration: 3s;
}

.main-weather-display {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.fade-in {
  animation: fadeIn 0.2s;
}

.bounce {
  animation: bounce 1.1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 96px;
  }
  100% {
    opacity: 0.5;
    top: 70.4px;
  }
}

@keyframes bounce {
  0% {
    opacity: 0.1;
    transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
  }
}